z-*
.env
.creds.env

compose/code-server/home/*
!compose/code-server/home/.plugins
!compose/code-server/home/.cache/.keepDir
!compose/code-server/home/.local/.keepDir
!compose/code-server/home/.config/.keepDir
