z-*
.env

compose/code-server/home/rapids
compose/code-server/home/.bashrc
compose/code-server/home/.eternal_bash_history
compose/code-server/home/.gitconfig

compose/code-server/home/.cache/*
!compose/code-server/home/.cache/.keepDir

compose/code-server/home/.local/*
!compose/code-server/home/.local/.keepDir

compose/code-server/home/.config/*
!compose/code-server/home/.config/.keepDir
